div.embed_icon{background:url(images/embed.gif) no-repeat; width:50px; height:18px;margin:10px 0 0 0; float:none; cursor:pointer;}
div.front-page-block.demo{border:1px solid #cdcdcd;padding:10px;width:auto;}
